<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <!--  解析插值表达式 -->
      <h2>title 是 {{title}} {{something}}</h2>
      <!-- 解析常见指令 -->
      <p v-html="msg1" title="混淆属性1">混淆文本1</p>
      <p v-text="msg2" title="混淆属性2">混淆文本2</p>
      <input type="text" v-model="something" />
      <!-- 双向数据绑定 -->
      <p>{{something}}</p>
      <!-- 复杂数据类型 -->
      <p>{{dad.son.name}}</p>
      <p v-html="dad.son.name"></p>
      <input type="text" v-model="dad.son.name" />

      <button v-on:click="sayHi">sayHi</button>
      <button @click="printThis">printThis</button>
    </div>

    <script type="module">
      import MVVM from "./MVVM.js";
      let vm = new MVVM({
        el: "#app",
        data: {
          title: "手把手教你撸一个vue框架",
          msg1: '<a href="#">应该被解析成a标签</a>',
          msg2: '<a href="#">不应该被解析成a标签</a>',
          something: "placeholder",
          dad: {
            name: "foo",
            son: {
              name: "bar",
              son: {},
            },
          },
        },
        methods: {
          sayHi() {
            console.log("hello world");
          },
          printThis() {
            console.log(this);
          },
        },
      });
    </script>
  </body>
</html>
